div {
  background-color: #00171F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca-principal {
  padding: 10rem;
}

.acerca-imagen- {
  width: 5x;
  height: 5px;
  margin: 20px;
}

h1,
h2 {
  color: #fefefe
}

.contenedor {
  height: 500px;
  padding: 10px;
}

p {
  max-width: 600px;
  text-align: center;
  color: #fefefe
}

@media (max-width: 610px) {
  p, h1, h2 {
  padding: 1rem;
  text-align: center;
  }
}