.container-fluid{
  display: flex;
  flex-direction: row;
  height: 700px;;
  width: 100%;
  background-image: url(src\assets\banner.png);
  background-size: 100% 100%;
  position: relative;
}

img{
  position: absolute;
  height: 350px;
  width: 300px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 375px) {
  img{
    position: absolute;
      height: 180px;
      width: 190px;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .container-fluid{
    height: 400px;
  }
}