<nav class="container-fluid">
  <a> <img src="../../../assets/ArgPRO.png" alt="Logo Argentina Programa" class="img-fluid" id="ArgPro"></a>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://twitter.com/okvish" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://github.com/OkVish" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://ar.linkedin.com/in/1vish" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/okvish/?hl=es-la" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="victor.shanahan46@gamil.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
    <div class="login"><a (click)="log()"><i class="bi bi-person-plus-fill"></i></a></div>
  </div>
</nav>
