<br>
<br>
<!-- Contacto -->
<section id="contacto" class="contacto seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          <h2>¡Hola! Si quieres contactarme haz click aqui</h2>
        </div>
        <div class="col-12 col-md-4">
          <a href="Victor.shanahan46@gmail.com">
            <button type="button">
              Contáctame
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>