.container-fluid{
  height: 80px;
  background-color: #00171F;
  color: aliceblue;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: row;
}

#ArgPro{
  height: 100px;
  margin-top: -15px;
}

.redes {
  margin-right: 0.5em;
  margin-top: -6px;
}

#redes {
  width: 50px;
  padding: 5px;
}

.login{
  margin-left: 20px;
}

.btn {
  border-width: medium;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid #0d6efd;
}

.iconos-redes-sociales a:hover i {
  color: black;
}

@media (max-width: 760px) {
  .container-fluid {
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
  }

    .iconos-redes-sociales a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}