h1 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.container-fluid {
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.right {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
      animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .container-fluid{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .right {
    margin-right: 0px;
  }
}

@media (max-width: 375px) {
  .left {
    margin-left: 0px;
  }
}