<hr>

<h1>Hard & Soft Skills</h1>

<div class="container-fluid">
  <div class="left">
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'HTML'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="false" [animation]="true" [animationDuration]="600"></circle-progress> <h1>habilidad 1</h1>
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'CSS'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="false" [animation]="true" [animationDuration]="600"></circle-progress> <h1 id="Habilidad">habilidad 2</h1>
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'JavaScript'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="false" [animation]="true" [animationDuration]="600"></circle-progress> <h1>habilidad 3</h1>
  </div>

  <div class="right">
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'HTML'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="true" [animation]="true" [animationDuration]="600"></circle-progress> <h1>habilidad 4</h1>
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'HTML'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="true" [animation]="true" [animationDuration]="600"></circle-progress> <h1>habilidad 5</h1>
    <circle-progress [percent]="80" [radius]="70" [space]="10" [imageSrc]="''" [titleColor]="'#212F3C'"
      [showTitle]="true" [title]="'HTML'" [showImage]="false" [imageHeight]="70" [imageWidth]="70" [showUnits]="true"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#00A8E8'"
      [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [innerStrokeColor]="'#e7e8ea'"
      [clockwise]="true" [animation]="true" [animationDuration]="600"></circle-progress> <h1>habilidad 6</h1>
  </div>
</div>

<br>