<div class="Acerca align-items-stretch">
  <div class="Acerca-principal d-flex flex-column justify-content-center align-items-center">
    <h1 >Víctor Ivan Shanahan Herrero</h1>
    <h2>Desarrollador Full Stack Jr.</h2>
    <p class="seccion-texto">Estudiante de Derecho en Universidad Nacional de Rosario. Certficado en Gestoria
      Previisional y Asistencia Juridica. Artista digital premiado en varios concursos y salones nacionales como
      internacionales. Apasionado por la tecnología tanto hardware como software, su historia y futuro.
  </div>
</div>